<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoer</title>
    
    <link href="/style.css" rel="stylesheet" />
    <link href="/lib/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="/sidebar/sidebars.css" rel="stylesheet">

    <script defer src="/lib/bootstrap.bundle.min.js"></script>

    <script defer src="/sidebar/sidebars.js"></script>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="default-profile-picture" viewBox="312.809 0 401 401">
    <g transform="matrix(1.223 0 0 1.223 -467.5 -843.44)">
      <rect x="601.45" y="653.07" width="401" height="401" fill="#E4E6E7"/>
      <path d="m802.38 908.08c-84.515 0-153.52 48.185-157.38 108.62h314.79c-3.87-60.44-72.9-108.62-157.41-108.62z" fill="#AEB4B7"/>
      <path d="m881.37 818.86c0 46.746-35.106 84.641-78.41 84.641s-78.41-37.895-78.41-84.641 35.106-84.641 78.41-84.641c43.31 0 78.41 37.9 78.41 84.64z" fill="#AEB4B7"/>
    </g>
  </symbol>
  <symbol id="todoer" viewBox="0 0 16 16">
      <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982" fill="#AEB4B7"/>
      <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zm0 1H7.5v3h-6zM8.5 4V1h3.75l2.25 3zM15 5v10H1V5z" fill="#AEB4B7"/>
  </symbol>
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
  </symbol>
  <symbol id="today" viewBox="0 0 16 16">
    <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
  </symbol>
  <symbol id="notification" viewBox="0 0 16 16">
    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0m0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
  </symbol>
  <symbol id="project" viewBox="0 0 16 16">
    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
  </symbol>
</svg>

<main class="d-flex flex-row">
  <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#todoer"/></svg>
      <span class="fs-4">Todoer</span>
      </a>
      <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li>
                  <a href="/today" class="nav-link <%=@path=="/today" ? "active" : ""%> text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#today"/></svg>
                    Today
                    <strong>
                      <%if @today_count.positive?%>
                        <%=@today_count%>
                      <%end%>
                    </strong>
                  </a>
              </li>
              <li>
                  <a href="/notification" class="nav-link <%=@path=="/notification" ? "active" : ""%> text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#notification"/></svg>
                    Notifications
                    <strong>
                      <%if @notification_count.positive?%>
                        <%=@notification_count%>
                      <%end%>
                    </strong>
                  </a>
              </li>
              <hr>
              <li class="nav-item">
                  <strong>
                      Projects
                  </strong>
              </li>
              <hr>
              <%@projects.each do |project|%>
                <li class="project">

                  <!-- Split dropright button -->
                  <!-- Split dropend button -->
                  <div class="btn-group dropend d-flex">
                    <a href="/projects/<%=project["id"]%>" class="nav-link <%=@path=="/projects/#{project["id"]}" ? "active" : ""%> text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#project"/></svg>
                      <%=project["name"]%>
                    </a>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split flex-grow-0" style="width: 32px; margin-left: auto; color: white;" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><span class="dropdown-item-text"><%=project["description"]%></span></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editProjectModal<%=project["id"]%>">Edit</a></li>
                      <li>
                        <!-- <a class="dropdown-item" href="#">Delete</a> -->
                        <form action="/projects/<%=project["id"]%>/delete/" method="POST">
                          <button type="submit" class="dropdown-item ">
                            Delete
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </li>
              <%end%>
          </ul>
      <hr>
      <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <%if current_user["profile_picture_id"]%>
                  <img src="/profile_pictures/<%=current_user["profile_picture_id"]%>" alt="" width="32" height="32" class="rounded-circle me-2">
                <%else%>
                  <svg class="rounded-circle me-2" width="32" height="32"><use xlink:href="#default-profile-picture"/></svg>
              <%end%>
              <strong><%=current_user["username"]%></strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newProjectModal">New project...</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="/logout" method="POST">
                  <button type="submit" class="dropdown-item ">
                    Sign out
                  </button>
                </form>
              </li>
          </ul>
      </div>
  </nav>
  <section class="w-100"> 
    <%= yield %>
  </section>
</main>

<%@projects.each do |project|%>
  <div class="modal fade" id="editProjectModal<%=project["id"]%>" tabindex="-1" aria-labelledby="editProjectModalLabel<%=project["id"]%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProjectModalLabel<%=project["id"]%>">Edit Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editProjectForm<%=project["id"]%>" action="/projects/<%=project["id"]%>/edit/" method="post">
            <!-- Add form fields for new project here -->
            <div class="mb-3">
              <label for="projectName" class="form-label">Project Name</label>
              <input type="text" class="form-control" id="projectName" name="name" value="<%=project["name"]%>" required>
            </div>
            <div class="mb-3">
              <label for="projectName" class="form-label">Project description</label>
              <input type="text" class="form-control" id="projectName" name="description" value="<%=project["description"]%>" required>
            </div>
            <div class="mb-3">
              <label for="endDate">End Date</label>
              <input id="endDate" class="form-control" name="end_date" type="date" value="<%=project["end_date"]%>" />
            </div>
            <!-- Add more fields as needed -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Edit Project</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>

<!-- Settings Modal Structure -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Profile Picture Update Form -->
        <form id="profilePictureForm" method="POST" action="/users/update_profile_picture" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="profilePicture" class="form-label">Upload New Profile Picture</label>
            <input type="file" class="form-control" id="profilePicture" name="profile_picture" accept="image/png, image/jpeg">
          </div>
          <div class="text-center">
            <% if current_user["profile_picture_id"] %>
              <img src="/profile_pictures/<%= current_user["profile_picture_id"] %>" alt="Current Profile Picture" class="rounded-circle" width="64" height="64">
            <% else %>
              <svg class="rounded-circle" width="64" height="64"><use xlink:href="#default-profile-picture"/></svg>
            <% end %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="profilePictureForm">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- New Project Modal -->
<div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProjectModalLabel">Create New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="newProjectForm" action="/projects/new/" method="post">
          <!-- Add form fields for new project here -->
          <div class="mb-3">
            <label for="projectName" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="name" value="Project Name" required>
          </div>
          <div class="mb-3">
            <label for="projectName" class="form-label">Project description</label>
            <input type="text" class="form-control" id="projectName" name="description" value="Project Description" required>
          </div>
          <div class="mb-3">
            <label for="endDate">End Date</label>
            <input id="endDate" class="form-control" name="end_date" type="date" />
          </div>
          <!-- Add more fields as needed -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
